doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')

    if meta_descript
      meta(name='description', content='#{meta_descript}')
    else
      meta(name='description', content='AutPi is a simple homeautomatic app')

    if page
      title #{page} - AutPi
    else
      title Welcome - AutPi

    //  Android 5 Chrome Color
    meta(name='theme-color', content='#EE6E73')
    // CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    include navbar
    div.container
      block content

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    script(src='javascripts/local.js')
