nav
    div.nav-wrapper
        a(href='/') AutPi
        a(href='#',data-activates='mobile-nav').button-collapse
            i.material-icons menu
        ul.right.hide-on-med-and-down
            li #[a(href='/') Steckdosen]
            li #[a(href='/stream') Stream]
        ul.side-nav#mobile-nav
            li #[a(href='/') Steckdosen]
            li #[a(href='/stream') Stream]